<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEST</title>
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/alpine.min.js" defer></script>
        <link rel="stylesheet" href="/static/css/output.css" />
  </head>
  <body class="bg-ink-3">
    <h1>THIS THE BESTEST</h1>
    <p class="text-orange-700 text-step-4">and YAAAAAAAAAAAAAA!</p>
    <button class="[ button ]" hx-get="/test">click me once. dont wanna click me twice</button>
  </body>
</html>
